body { 
    background-image: linear-gradient(-20deg, rgb(0, 0, 0), rgb(0, 0, 0),rgb(66, 66, 66));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.container{
    height: 100vh;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo{
    display: flex;
}
.logo h2{
    color: azure;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 0px 30px;
}
.nav{
    display: flex;
}
.nav img{
    width: 50px;
    height: 50px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
/*The second section start here*/
.header-1{
    display: flex;
    justify-content: center;
}
.header-1 h2{
    font-family: 'Gloria Hallelujah', cursive;
    color: azure;
    font-size: 70px;
    text-align: center;
}
/* Here is the last section of my website */
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-section{
    display: flex;
    justify-content: flex-start;
}
 p{
    font-family:'Sedgwick Ave', cursive;
    color: azure;
    font-size: 25px; 
    padding: 0 0 0 50px;
}
.left-section{
    display: flex;
    justify-content: flex-end;
}
.form{
    background-color: whitesmoke;
    padding: 50px; 
    border-radius: 5px;
}
input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media (min-width:768px) {
    .header-1{
        flex-direction: row;
    }
    .section{
        display: flex;
        flex-direction: row;
    }
    .logo h2{
        font-size: 18px;
    }
    .header-1 h2{
        font-size: 40px;
    }
}
@media (max-width:370px){
    ul{
        display: none;
    }
    #menu-bar{
        display: flex;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


